<h1>
  pipes!
</h1>

<h3>{{name}}</h3>
<h3>{{name | uppercase}}</h3>
<h3>{{name | lowercase}}</h3>
<h3>{{name | titlecase}}</h3>
<h3>{{name | slice:4}}</h3>
<h3>{{name | slice:4:6}}</h3>

<h3>{{object}}</h3>
<h3>{{object | json}}</h3>

<h3>{{4.467 | number:'1.2-3'}}</h3>
<h3>{{4.467 | number:'3.4-5'}}</h3>
<h3>{{4.467 | number:'3.1-2'}}</h3>

<h3>{{0.31 | percent }}</h3>

<h3>{{0.31 | currency }}</h3>
<h3>{{0.31 | currency:'EUR' }}</h3>
<h3>{{0.31 | currency: 'DZD' }}</h3>

<h3>{{date }}</h3>
<h3>{{date | date:'short'}}</h3>
<h3>{{date | date:'shortDate'}}</h3>
<h3>{{date | date:'shortTime'}}</h3>












